---
import Layout from "../layouts/Layout.astro";
import EventCard from "../components/EventCard.astro";
const events = [
    {
        title: "Conférence sur les astres",
        date: "Lundi 12 Juillet",
        favori: true,
    },
    {
        title: "Atelier sur les étoiles",
        date: "Mardi 13 Juillet",
        favori: false,
    },
];
---

<Layout title="agenda">
    <h1>Agenda d'Evenements</h1>

    {events.map((event) => <EventCard event={event} />)}
</Layout>
