---
import PbImage from "../components/PbImage.astro";
const { offre } = Astro.props;
console.log(offre);
---

<div
    class="offer-card bg-white border border-amber-300 rounded-xl p-4
         shadow hover:shadow-lg transition-all duration-200
         cursor-pointer w-full"
    data-favori={offre.favori.toString()}
>
    <PbImage
        class="w-full h-48 object-cover rounded-lg mb-3"
        record={offre}
        recordImage={offre.images[0]}
    />

    <strong class="block text-lg font-semibold text-red-700">
        {offre.nomMaison}
    </strong>
</div>
